{% extends "layout.html" %}

{% block body %}

<div class="row">
    <div class="col-md-6">
        <h3>Dashboard</h3>
    </div>
    <div class="col-md-6">
        <h3 class="text-danger">Welcome, {{session["username"]}}</h3>
    </div>
</div>
<hr>

<a href="/addproduct" class = "btn btn-primary">Add Product</a>

{% if products %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Author</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <th scope="row">{{product.id}}</th>
          <td><a href="/product/{{product.id}}">{{product.title}}</a></td>
          <td>{{product.price}}</td>
          <td>{{product.author}}</td>
          <td>{{product.created_date}}</td>
          <td><a href="/edit/{{product.id}}" class = "btn btn-danger">Güncelle</a></td>
          <td><a href="/delete/{{product.id}}" class = "btn btn-danger">Sil</a></td>
        </tr>
      {% endfor %}      
    </tbody>
  </table>  
{% else %}
  <div class = "alert alert-danger">Ürün yok.</div>
{% endif %}

{% endblock body %}