{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <h3>Products</h3>
    </div>
    <div class="col-md-3">
        
    </div>
    <div class="col-md-3">
        <form action="/search" method = "post">
            <div class="input-group">
                <input type="text" name="keyword" class="form-control rounded" maxlength="64" placeholder="Ara..." aria-label="Search" aria-describedby="search-addon">
                <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>Ara</button>
            </div>
        </form>
    </div>
</div>

<hr>

{% if products %}
    <ul class="list-group">
        {% for product in products %}
            <li class = "list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <a href="product/{{product.id}}">{{product.title}}</a>
                    </div>
                    <div class="col-md-6">
                        <div>{{product.price}} ₺</div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class = "alert alert-danger">Ürün yok.</div>
{% endif %}

{% endblock body %}